<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <variable name="VerboseLayout"
              value="${date:format=dd-MM HH\:mm\:ss.fff} 
              ${aspnet-request-headers:HeaderNames=x-correlation-id}
              [${level:uppercase=true:padding=-5}] 
              ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}-
              [${activityid:whenEmpty=${aspnet-TraceIdentifier:whenEmpty=${activity:property=TraceId}}}] - 
              ${message}
              ${newline}
              ${onexception:${exception:maxInnerExceptionLevel=10:innerExceptionSeparator=&#xD;&#xA;&#x9;:format=Message,ShortType,StackTrace}
              ${newline}}"/>


    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.Seq"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>

        <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
        <target name="consoleLog" xsi:type="ColoredConsole" >
            <layout xsi:type="JsonLayout" EscapeForwardSlash="false">
                <attribute name="ip"
                           layout="${aspnet-request-ip:CheckForwardedForHeader=true}" />
                <!-- <attribute name="headers" -->
                <!--            layout="${aspnet-request-headers:HeaderNames=X-Original-Forwarded-For,X-Forwarded-For,X-Real-IP}" /> -->
                <attribute name="spanId"
                           layout="${activity:property=SpanId}" />
                <attribute name="parentId"
                           layout="${activity:property=ParentId}" />
                <attribute name="traceId"
                           layout="${activity:property=TraceId}" />
                <attribute layout="${level:upperCase=true}" name="Level"/>
                <attribute layout="${message}" name="Message" encode="false"/>
                <attribute layout="${exception:format=tostring,StackTrace}" name="Exception"/>
                <attribute layout="${ndlc}" name="Context"/>

            </layout>
        </target>        
       
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="Microsoft.*" maxLevel="Info" final="true" />
        <logger  name="System.Net.Http.*" maxLevel="Info" final="true"/>
        <logger name="*" minlevel="Info" writeTo="lifetimeConsole" enabled="${configsetting:item=Nlog.IsConsole}"/>
        <logger name="*" minlevel="Info" writeTo="seq" enabled="${configsetting:item=Nlog.IsSeq}"/>
    </rules>
</nlog>